.main-layout {
  max-width: 1120px;
  margin: 1em auto 1em !important;
  float: none !important;
}

.ant-menu-horizontal {
  display: flex;
  justify-content: flex-end;
  background-color: #46542e;
  padding-right: 5em;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  color: white;
  border-bottom: 2px solid white;
}

.ant-menu-horizontal > .ant-menu-item {
  color: white;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  color: white;
  border-bottom: 2px solid white;
  opacity: 0.5;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: rgba(166,176,98);
}

.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: rgba(166,176,98);
}
